body
{
  font-family: 'Titillium Web', sans-serif;
}

.logoCompañia
{
  min-width: 100px;
  max-width: 140px;
}

.container #navbarSupportedContent #face
{
  height: 60px;
  width: 60px;
  margin-left: 10px;

}

.container #navbarSupportedContent #insta
{
  height: 60px;
  width: 60px;
  margin-left: 10px;

}

.container #navbarSupportedContent #twit
{
  height: 60px;
  width: 60px;
  margin-left: 10px;
}

#carouselExampleIndicators
{
  height: 570px;
  width: 1000px;
  margin: auto;
}

#carouselExampleIndicators .carousel-inner
{
  border-radius: 20px;
}

#carouselExampleIndicators .carousel-inner h3
{
  color: #fff;
  font-family: 'Anton', sans-serif;
}

.formulario
{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10vh ;


}

.form-group
{

  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  margin-top: 50px 50PX 50PX 50PX;

  justify-content: space-around;

}

.form-control
{
  display: flex;
  flex-wrap: wrap;
  margin: center;
}
